<h1>Добро пожаловать на очередной сайт магазин курсов</h1>

<p class="info">Вы сможете увидеть своими глазищами восхитительный раздолбанный
    архитектурный сайт с Javascript, сможете насладиться его задристанными
    скриптами, версткой и картинками, вызывающими леденящий
    душу восторг. Мы пройдемся с вами
    по чудесным страницам, забитыми нищим,
    дизайном и картинками. Вы никогда не забудете
    путешествие по великолепным страницам и ссылкам
    среди старых шаблонов, ценников и ненужной никому
    информации. Вы увидите легендарные обоссанные
    навбары и футеры, заваленные говном до крыш,
    сможете купить в подарок высокохудожественные
    jpeg-и с изображениями Angular и Python.
    Мы посетим с вами бесценные карточки, сделанные
    дизайнером за зарплату 100 рублей. Ближе к вечеру
    мы будем, затаив дыхание, наблюдать очаровательное
    отражение своего mindfuck-а в радужной бензиновой плёнке современного постреализма...
</p>
